*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: auto;
  box-sizing: border-box;
  font-family: "Noto Sans TC", serif;
}

#header {
  height: 55px;
  top: 0;
  left: 0;
  position: relative;
  /* background: hotpink; */
  z-index: 1000;
}

#header .start table {
  background-color: #fff;
  height: 35px;
  margin-left: 10px;
  position: absolute;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  top: 10%;
  left: 10px;
}
#header .end table {
  background-color: #fff;
  height: 35px;
  margin-right: 10px;
  position: absolute;
  line-height: 40px;
  top: 10%;
  right: 10px;
}

#header td {
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
}
.fa-solid {
  font-size: 20px;
}
#header .start div,
#header .end div {
  /* border: 1px solid rebeccapurple; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  align-content: center;
}

#header .start div:hover,
#header .end div:hover {
  background: rgba(207, 207, 207, 0.333);
}

#header a {
  text-align: center;
  line-height: normal;
  margin-left: 10px;
}

#header img {
  width: 100px;
  /* background-color: aqua; */
  vertical-align: middle; /* 垂直對齊父元素中線 */
}

#header input {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(0, -50%);
  width: 440px;
  height: 40px;
  border-radius: 35px 0 0 35px;
  z-index: 1;
  border: solid 1px gray;
  padding: 10px;
  outline-color: rgb(0, 44, 167);
}

#header input:focus {
  width: 470px;
  left: calc(30% - 30px);
  padding: 0 30px;
}

#header .search {
  position: absolute;
  background-color: white;
  width: 40px;
  height: 40px;
  left: calc(30% + 439px);
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 0 35px 35px 0;
  border: solid 1px gray;
  z-index: 3;
  text-align: center;
}

#header .search i {
  margin-top: 8px;
}

#header .search2 input:focus {
  display: block;
  position: absolute;
}

#sidebar {
  width: 240px;
  height: calc(100vh - 75px);
  float: left;
  left: 0;
  top: 55px;
  color: black;
  overflow-y: scroll;
  padding-left: 8px;
}

#sidebar .bar {
  line-height: 40px;
  margin: 20px;
  font-size: 14px;
}

#sidebar .bar2 {
  line-height: 20px;
  margin: 20px;
  font-size: 18px;
}

#sidebar .bar i {
  margin-right: 20px;
  width: 30px;
  text-align: center;
}

#sidebar .bar li {
  list-style: none;
}

#sidebar .bar li:hover {
  background: rgba(207, 207, 207, 0.333);
  border-radius: 10%;
}

#sidebar .bar2 li {
  display: inline-block;
  font-size: 12px;
  left: 0px;
}

#menu {
  width: 85%;
  top: 55px;
  height: 40px;
  right: 0px;
  line-height: 30px;
  position: fixed;
}

#menu li {
  display: inline-block;
  background: rgba(207, 207, 207, 0.333);
  border-radius: 5px;
  margin-left: 20px;
}

#menu li:hover {
  background: rgba(207, 207, 207, 0.63);
  cursor: pointer;
}

#content {
  width: 100%;
  margin-top: 50px;
  padding-top: 10px;
  padding-left: 5px;
}

.box {
  width: 280px;
  display: inline-block;
  margin-right: 1.2rem;
  margin-top: 2rem;
}
/* youtube channel profile */
.channel {
  width: 15%;
  float: left;
  margin-top: 8px;
}

.channel img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.boxInfo {
  width: 81%;
  float: right;
  margin-left: 3px;
  margin-top: 8px;
  line-height: 18px;
}

.thumbnail img {
  width: 280px;
  height: 170px;
  border-radius: 10px;
}

.title {
  height: 38px;
  overflow: hidden;
  font-size: 14px;
}

.name {
  font-size: 12px;
}

.view {
  font-size: 12px;
}
.minibar {
  display: none;
}

#right {
  float: left;
  padding-left: 18px;
  width: calc(100vw - 255px);
}
#tags {
  width: auto;
  height: 50px;
  float: left;
}
.tag {
  height: 35px;
  width: auto;
  display: inline-block;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: #eee;
  font-size: 14px;
  line-height: 35px;
  margin-top: 8px;
  margin-left: 8px;
  color: #000;
}

.tagAll {
  background: #000;
  color: #fff;
}

.tag:hover {
  background: #ccc;
  cursor: pointer;
}

@media screen and (max-width: 1314px) {
  #right {
    width: calc(100vw - 100px);
  }
  #sidebar {
    width: 80px;
    overflow-y: hidden;
    padding-left: 5px;

    text-align: center;
  }
  #sidebar hr {
    display: none;
  }
  .minibar {
    margin-top: 10px;
    display: inline-block;
    line-height: 20px;
  }
  .minibar li {
    align-content: center;
    vertical-align: middle;
    width: 65px;
    height: 70px;
    border-radius: 20%;
    font-size: 8px;
    margin-bottom: 10px;
  }
  .minibar li:hover {
    background: rgba(207, 207, 207, 0.63);
    cursor: pointer;
  }

  .bar,
  .bar2 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #sidebar {
    display: none;
  }
}
